[submodule "LAVIS"]
	path = LAVIS
	url = https://github.com/salesforce/LAVIS.git
[submodule "deepface"]
	path = deepface
	url = https://github.com/serengil/deepface.git
[submodule "retinaface"]
	path = retinaface
	url = https://github.com/serengil/retinaface.git
